.hand-zone{
  width: 100vw; height: 15vh;
  position: absolute;
  bottom: 0px; right: 0px;
  padding: 16px;
  z-index: 999;
}

.hand-zone .hand{
  display: flex;
    justify-content: flex-end;
}

#player-hand .hand-zone .card:hover{
  transform: translateY(-12vh);
}

.hand.triage .card::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,.5)
}

.hand.triage .card.triage::after{
  display: none;
}