.deck-zone{
  display: flex;
    flex-direction: column;
  border: 1px solid black;
    border-radius: 3px;
}

.deck-zone button{
  background: none;
  border: none;
  padding: 14px 8px;
}

.deck-zone img{
  width: 100px; height: 140px;
}

.deck-card-count{
  background: #FFF;
  color: black;
  position: absolute;
  top: 50px; left: 40px;
  padding: 8px;
  border-radius: 50%;
}